<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Disease Classification</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <h1>Plant Leaf Disease Detection</h1>
    <div class="container">
    <form id="update-form" action="/predict" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" id="file-input" required>
        <button type="submit">Predict</button>
    </form>

    <!-- Preview uploaded image before submission -->
    <div>
        <h3>Uploaded Image:</h3>
        <img id="preview" src="#" alt="Image Preview" style="display: none; max-width: 300px; height: auto;">
    </div>

    {% if prediction %}
        <div class="result">
            <h3>Predicted Disease: {{ prediction }}</h3>
            <h3>Processed Image:</h3>
            <img src="{{ image_url }}" alt="Uploaded Image" class="uploaded-image" style="max-width: 300px; height: auto;">
        </div>
    {% endif %}
    </div>

    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function(){
                var output = document.getElementById('preview');
                output.src = reader.result;
                output.style.display = "block";
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
</body>
</html>